@model ElearnerApi.Data.Models.Authentication.ApplicationUser

@{
    ViewData["Title"] = "Delete User";
}

<div class="row">
    <h2>Delete User</h2>
</div>


<div class="row" style="margin-bottom:50px;">
    <p>
        Are you sure you want to delete:  @Html.DisplayFor( model => model.Email )
    </p>
</div>

<div class="row">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-primary" /> 
    </form>
</div>
