@{
    ViewData["Title"] = "Home Page";
}

<main role="main" class="text-center hero-section" >
    <h1 class="cover-heading success" style="padding:2%; "> <span class="hero-index-text">Open Source E-Learning</span></h1>
    <p>A 100% free open source platform that makes it easy to deliver custom courses.</p>
    <p>
        <a asp-controller="Account" asp-action="Register" class="btn btn-lg btn-primary">Register</a>
    </p>
</main>


